* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7a7c1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
}

.logout-container {
    position: absolute;
    top: -40px;
    right: 10px;
}

.logout-container a {
    color: #ff0000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.logout-container a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-container {
    position: relative;
}

.password-container input {
    width: calc(100% - 30px); /* Mengurangi lebar ikon */
    padding-right: 30px; /* Menyisakan ruang untuk ikon mata */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8d2757;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #fa498d;
}

p {
    text-align: center;
    margin-top: 15px;
}

p a {
    color: #8d2757;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}